//functions
@function lighten-color($color, $amount) {
  @return lighten($color, $amount);
}

//mixins
@mixin make-container($width: 100%, $height: auto, $padding: 2rem 1.5rem, $margin-bottom: 2rem, $container-bg: white, $border-radius: 1rem) {
  width: $width;
  height: $height;
  padding: $padding;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $margin-bottom;
  background-color: $container-bg;
  border-radius: $border-radius;
}

@mixin responsive-container {
  @media (max-width: 768px) {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}


//variables
$background1: #833AB4;
$background2: #FD1D1D;
$background3: #FCB045;
$container-shadow: #e06666;
$lighter-shadow: lighten-color($container-shadow, 20%);


//scss
body {
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(90deg, $background1 0%, $background2 50%, $background3 100%);
}

.container {
  @include make-container();
  box-shadow: 1px 1px 10px 10px $container-shadow;
}

#editor-container, #preview-container {
  @include make-container(45%, auto, 0.5rem 0.1rem, 0rem, $background3, 1rem);
  box-shadow: 5px 5px 10px 1px $lighter-shadow;
}

#editor, #preview {
  @include make-container(100%, 95%, 1rem, 1rem, #fff, 1rem);
  background-color: lighten-color($background3, 35%);
  @include responsive-container;
}

label {
  font-size: clamp(1.5rem, 4vw, 2rem);
  padding: 0.1rem 1rem;
}

#preview img {
  max-width: 100%;
  height: auto;
}