//variables
$background1: #833AB4;
$background2: #FD1D1D;
$background3: #FCB045;
$container-shadow: #e06666;
$lighter-bg3: lighten-color($background3, 20%);


//functions
@function lighten-color($color, $amount) {
  @return lighten($color, $amount);
}

// $colors: (
//   "primary": #f4cccc,  // Soft pink
//   "accent": #e06666,   // Bold red
//   "neutral": #c27ba0   // Deep mauve
// );

@mixin make-container($width: 100%, $padding: 2rem 1.5rem, $margin-bottom: 2rem, $container-bg: white, $border-radius: 1rem) {
  width: $width;
  padding: $padding;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $margin-bottom;
  background-color: $container-bg;
  border-radius: $border-radius;
}

//scss

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(90deg, $background1 0%, $background2 50%, $background3 100%);
}

.container {
  @include make-container();
  box-shadow: 1px 1px 10px 10px $container-shadow;
}

#editor-container, #preview-container {
  @include make-container(45%, 0.5rem 0.1rem, 0rem, $background3, 1rem);
}

#editor, #preview {
  width: 100%;
  height: 95%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}


label {
  font-size: 2rem;
  padding: 0.1rem 1rem;
}

#preview img {
  width: 400px; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
}